/* Reset */
* {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: relative;
    height: 100vh;
    color: white;
}

/* Conteneur principal avec néon bleu autour du fond */
article {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    top: -35px;
    min-width: 300px;
    z-index: 1;
    max-width: 400px;
}

/* Conteneur pour l'effet de pivot */
.profile-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px auto;
    perspective: 1000px;
}

/* Effet de pivot */
.profile-pic,
.profile-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.profile-pic {
    border: 3px solid white;
    object-fit: cover;
    z-index: 2;
    cursor: pointer;
    min-width: 150px;
    min-height: 150px;
}

.profile-link {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.profile-container:hover .profile-pic {
    transform: rotateY(180deg);
}

.profile-container:hover .profile-link {
    transform: rotateY(0deg);
}

.profile-link a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.profile-container img {
    position: relative;
    filter: blur(0);
}
.profile-container, .profile-pic-wrapper, .profile-link, .profile-container a {
    border-radius: 100%;
}
.profile-pic-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: scale(1.02);
    background-size: 500%;
    z-index: -1;
    animation: neon 2s infinite alternate;
}

.profile-pic-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: scale(1.02);
    background-size: 500%;
    z-index: -1;
    animation: neon-2 2s infinite alternate;
}

@keyframes neon-2 {
    0% {
    filter: hue-rotate(0deg);
    }
    100% {
    filter: hue-rotate(360deg);
    }
}

@keyframes neon {
    0% {
    filter: hue-rotate(0deg) blur(20px);
    }
    100% {
    filter: hue-rotate(360deg) blur(20px);
    }
}

.profile-container {
    z-index: -1;
}

.profile-container a {
    height: 150px;
    display: block;
}

.profile-container .profile-link {
    position: relative;
    top: calc(-100% - 4px);
}

/* Email */
.email-description-container {
    font-size: 1em;
    color: white;
    font-weight: bold;
    background-color: #2C2F33;
    padding: 5px;
    border-radius: 10px;
    z-index: 999;
}

/* Carré avec lien Discord */
.discord-box {
    display: block;
    margin-top: 10px;
    background-color: #2C2F33;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.discord-box img {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.discord-box a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Effet hover pour le lien Discord */
.discord-box:hover {
    background-color: #7289DA;
    transform: scale(1.05);
    color: white;
}

.discord-box:hover a {
    color: white;
}

/* Design by Pacman en bas de la page */
footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    background-color: #2C2F33;
    width: fit-content;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0 10px;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #7289DA;
}

span img {
    position: relative;
    width: 50px;
    top: 2.5px;
}

@media (max-width: 320px) {
    article {
        min-width: 200px;
        padding: 20px 30px;
    }
    .profile-container {
        width: 100px;
        height: 100px;
    }
    .profile-container a {
        height: 100px;
    }
    .profile-pic {
        width: 100px;
        height: 100px;
    }
    .profile-link a {
        font-size: 1.5em;
    }
    footer {
        font-size: 0.5em;
        padding: 1em;
    }
}

.theme-toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dg {
    display: none;
}

/* Description */
.profile-description {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.email {
    width: 100%;
}

.label-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.label-button {
    color: white;
    padding: 2.5px 5px;
    border-radius: 10px;
    margin: 5px; /* Add margin to all sides for better spacing */
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.7em;
    width: max-content;
}
